body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heroHeader{
  position: absolute;
  top: 8vmax;
  left: 20vmax;
  font-family: 'WindSong', cursive;
  font-size: 5vmin;
}

.heroText1, .heroText2{
  font-size: 8vmin;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin: 0;
}

.aqua{
  color: #1affff;
}

.leftAlign{
  text-align: left;
}

#title{
  color: #A9A9A9;
}

.heroContentContainer{
  position: absolute;
  left: 20vmax;
  top: 15vmax;
  display: flex;
  justify-content: center;
  align-content: center;
}

