body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heroHeader{
  position: absolute;
  top: 11vmax;
  left: 20vmax;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vmin;
  letter-spacing: 2px;
  color: #f2f2f2;
}

.heroText1, .heroText2{
  font-size: 8vmin;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin: 0;
}

.leftAlign{
  text-align: left;
}

#title{
  color: #f2f2f2;
}

.heroContentContainer{
  position: absolute;
  left: 20vmax;
  top: 15vmax;
  display: flex;
  justify-content: center;
  align-content: center;
}

.interactiveContainer{
  background-color: #b300b3;
  box-shadow: inset 0 0 10vmin 1px #000000;
}

#glowBall{
  position: absolute;
  right: 20vmax;
  top: 35%;
  width: 5vmin;
  height: 5vmin;
  background-color: #ffffff;
  border-radius: 100%;
  border: solid #f2f2f2;
  box-shadow: 0 0 100vmin 30vmin #ffffff;
}

#bigMonsterContainer{
  overflow: hidden;
}

#bigMonster{
  position: absolute;
  bottom: 0;
  left: 5vmin;
  width: 15vmax;
  height: 35vmax;
  background-color: #b30086;
  border-radius: 10vmin 10vmin 0 0;
  animation: 3s hoverBigMonster;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonster{
  0%{
    bottom: 0;
  }
  50%{
    bottom: 1vmin;
  }
  100%{
    bottom: 0;
  }
}

#bigMonsterFace{
  position: absolute;
  width: 25vmin;
  height: 40vmin;
  left: 15%;
  top: 5%;
  border-radius: 10vmin;
  background-color: #990073;
  animation: 3s hoverBigMonsterFace;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonsterFace{
  0%{
    left: 15%;
    top: 5%;
  }
  50%{
    left: 13%;
    top: 8%;
  }
  100%{
    left: 15%;
    top: 5%;
  }
}

#bigMonsterNeck{
  position: absolute;
  width: 15vmin;
  height: 10vmin;
  left: 7.5%;
  bottom: 15vmin;
  border-radius: 10vmin;
  background-color: #990073;
}

#bigMonsterChest{
  position: absolute;
  width: 20vmax;
  height: 15vmin;
  left: 3%;
  bottom: 0;
  border-radius: 10vmin 10vmin 0 0;
  background-color: #990073;
  animation: 3s hoverBigMonsterChest;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonsterChest{
  0%{
    bottom: -5vmin;
  }
  50%{
    bottom: -4vmin;
  }
  100%{
    bottom: -5vmin;
  }
}

#bigMonsterReflection{
  position: absolute;
  bottom: 0;
  left: 6vmin;
  width: 15vmax;
  height: 35vmax;
  background-color: #cccccc;
  border-radius: 10vmin 10vmin 0 0;
  animation: 3s hoverBigMonsterReflection;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonsterReflection{
  0%{
    bottom: 0;
  }
  50%{
    bottom: 1vmin;
  }
  100%{
    bottom: 0;
  }
}

#bigMonsterLeftEye{
  position: absolute;
  width: 7vmin;
  height: 15vmin;
  background-color: #ffffff;
  border-radius: 5vmin;
  margin: 10vmin 0 0 7vmin;
}

#bigMonsterRightEye{
  position: absolute;
  width: 7vmin;
  height: 15vmin;
  background-color: #ffffff;
  border-radius: 5vmin;
  margin: 10vmin 0 0 20vmin;
}

#leftPupil, #rightPupil{
  position: absolute;
  bottom: 1vmin;
  left: 50%;
  transform: translateX(-30%);
  width: 5vmin;
  height: 10vmin;
  background-color: #000000;
  border-radius: 5vmin;
}

#leftEyeSpark, #rightEyeSpark{
  width: 2vmin;
  height: 2vmin;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0.4vmin;
}

#bigMonsterMouth{
  position: absolute;
  top: 30vmin;
  left: 35%;
  width: 12vmin;
  height: 5vmin;
  background-color: #ff1a75;
  border-radius: 0 0 5vmin 5vmin;
}

#bigMonsterBody{
  position: absolute;
  width: 30vmax;
  height: 12vmax;
  background-color: #b30086;
  bottom: -5vmin;
  left: 0;
  border-radius: 0 20vmin 0vmin 0;  /*CHANGE 0vmin TO 10vmin to make shoulder animation */ 
  animation: 3s hoverBigMonsterBody;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonsterBody{
  0%{
    bottom: -5vmin;
  }
  50%{
    bottom: -4vmin;
  }
  100%{
    bottom: -5vmin;
  }
}

#bigMonsterBodyReflection{
  position: absolute;
  width: 31vmax;
  height: 12.5vmax;
  background-color: #cccccc;
  bottom: -10vmin;
  left: -1vmin;
  border-radius: 0 20vmin 0 0;
  animation: 3s hoverBigMonsterBodyReflection;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonsterBodyReflection{
  0%{
    bottom: -5vmin;
  }
  50%{
    bottom: -4vmin;
  }
  100%{
    bottom: -5vmin;
  }
}

#wormHoleEntry{
  position: absolute;
  top: 25vmax;
  left: 40vmax;
  width: 7vmin;
  height: 30vmin;
  background-color: #000000;
  border-radius: 100%;
  transform: rotate(90deg);
}

#wormHoleExit{
  position: absolute;
  top: 5vmax;
  right: 10vmax;
  width: 7vmin;
  height: 30vmin;
  background-color: #000000;
  border-radius: 100%;
  transform: rotate(-35deg);
}

#globOne{
  position: absolute;
  width: 30vmax;
  height: 30vmax;
  right: 7vmax;
  top: 10%;
  opacity: 0.1;
  transform: rotate(120deg);
  animation: 3.5s pulseGlobOne;
  animation-iteration-count: infinite;
}

#globTwo{
  position: absolute;
  width: 60vmax;
  height: 60vmax;
  right: 2vmax;
  top: 1%;
  opacity: 0.1;
  transform: rotate(80deg);
  animation: 4s pulseGlobTwo;
  animation-iteration-count: infinite;
}

#globThree{
  position: absolute;
  width: 100vmax;
  height: 100vmax;
  right: -20vmax;
  top: -10%;
  opacity: 0.1;
  transform: rotate(30deg);
  animation: 4.5s pulseGlobThree;
  animation-iteration-count: infinite;
}

#globFour{
  position: absolute;
  width: 150vmax;
  height: 150vmax;
  right: -20vmax;
  top: -10%;
  opacity: 0.1;
  transform: rotate(50deg);
  animation: 5s pulseGlobFour;
  animation-iteration-count: infinite;
}

@keyframes pulseGlobOne{
  0%{
    width: 30vmax;
    height: 30vmax;
  }
  50%{
    width: 31vmax;
    height: 31vmax;
  }
  100%{
    width: 30vmax;
    height: 30vmax;
  }
}

@keyframes pulseGlobTwo{
  0%{
    width: 60vmax;
    height: 60vmax;
  }
  50%{
    width: 62vmax;
    height: 64vmax;
  }
  100%{
    width: 60vmax;
    height: 60vmax;
  }
}

@keyframes pulseGlobThree{
  0%{
    width: 100vmax;
    height: 100vmax;
  }
  50%{
    width: 102vmax;
    height: 104vmax;
  }
  100%{
    width: 100vmax;
    height: 100vmax;
  }
}

@keyframes pulseGlobFour{
  0%{
    width: 150vmax;
    height: 150vmax;
  }
  50%{
    width: 155vmax;
    height: 159vmax;
  }
  100%{
    width: 150vmax;
    height: 150vmax;
  }
}

#bigMonsterHandOne{
  position: absolute;
  left: 36vmax;
  bottom: -20vmax;
  width: 25vmin;
  height: 30vmax;
  background-color: #b30086;
  border-radius: 10vmin;
}

#bigMonsterThumb{
  position: absolute;
  top: 15vmin;
  left: -5vmin;
  width: 10vmin;
  height: 15vmin;
  background-color: #b30086;
  border-radius: 10vmin;
  transform: rotate(-60deg);
}

#bigMonsterHandOneReflection{
  position: absolute;
  left: 36.5vmax;
  bottom: -19.8vmax;
  width: 25vmin;
  height: 30vmax;
  background-color: #f2f2f2;
  border-radius: 10vmin;
}