body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heroHeader{
  position: absolute;
  top: 11vmax;
  left: 20vmax;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vmin;
  letter-spacing: 2px;
  color: #f2f2f2;
}

.heroText1, .heroText2{
  font-size: 8vmin;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin: 0;
}

.leftAlign{
  text-align: left;
}

#title{
  color: #f2f2f2;
}

.heroContentContainer{
  position: absolute;
  left: 20vmax;
  top: 15vmax;
  display: flex;
  justify-content: center;
  align-content: center;
}

#interactiveContainer{
  position: absolute;
  top: 0;
  background-color: #bb99ff;
}

#glowBall{
  position: absolute;
  right: 20vmax;
  top: 35%;
  width: 5vmin;
  height: 5vmin;
  background-color: #ffffff;
  border-radius: 100%;
  border: solid #f2f2f2;
  z-index: 2;
  box-shadow: 0 0 100vmin 30vmin #ffffff;
}

.glowBallDark{
  animation: 0.2s 2.5s 1 goDark, 3s 1 glowBallReact; 
  animation-fill-mode: forwards;
}

@keyframes goDark {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes glowBallReact{
  0%, 100%{
    width: 5vmin;
    height: 5vmin;
    right: 20vmax;
    top: 35%;
  }
  50%{
    width: 6vmin;
    height: 6vmin;
    right: 22vmax;
    top: 32%;
  }
  75%{
    right: 19vmax;
    top: 35%;
    width: 6vmin;
    height: 6vmin;
  }
  
}

#bigMonster{
  position: absolute;
  bottom: 0;
  left: 5vmin;
  width: 15vmax;
  height: 35vmax;
  background-color: #b30086;
  border-radius: 10vmin 10vmin 0 0;
  animation: 3s hoverBigMonster;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonster{
  0%{
    bottom: 0;
  }
  50%{
    bottom: 1vmin;
  }
  100%{
    bottom: 0;
  }
}

#bigMonsterFace{
  position: absolute;
  width: 25vmin;
  height: 40vmin;
  left: 15%;
  top: 5%;
  border-radius: 10vmin;
  background-color: #990073;
  animation: 3s hoverBigMonsterFace;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonsterFace{
  0%{
    left: 15%;
    top: 5%;
  }
  50%{
    left: 13%;
    top: 8%;
  }
  100%{
    left: 15%;
    top: 5%;
  }
}

#bigMonsterNeck{
  position: absolute;
  width: 15vmin;
  height: 10vmin;
  left: 7.5%;
  bottom: 15vmin;
  border-radius: 10vmin;
  background-color: #990073;
}

#bigMonsterChest{
  position: absolute;
  width: 20vmax;
  height: 15vmin;
  left: 3%;
  bottom: 0;
  border-radius: 10vmin 10vmin 0 0;
  background-color: #990073;
  animation: 3s hoverBigMonsterChest;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonsterChest{
  0%{
    bottom: -5vmin;
  }
  50%{
    bottom: -4vmin;
  }
  100%{
    bottom: -5vmin;
  }
}

#bigMonsterReflection{
  position: absolute;
  bottom: 0;
  left: 6vmin;
  width: 15vmax;
  height: 35vmax;
  background-color: #cccccc;
  border-radius: 10vmin 10vmin 0 0;
  animation: 3s hoverBigMonsterReflection;
  animation-iteration-count: infinite;
}

@keyframes hoverBigMonsterReflection{
  0%{
    bottom: 0;
  }
  50%{
    bottom: 1vmin;
  }
  100%{
    bottom: 0;
  }
}

#bigMonsterLeftEye{
  position: absolute;
  width: 7vmin;
  height: 15vmin;
  background-color: #ffffff;
  border-radius: 5vmin;
  margin: 10vmin 0 0 7vmin;
}

#bigMonsterRightEye{
  position: absolute;
  width: 7vmin;
  height: 15vmin;
  background-color: #ffffff;
  border-radius: 5vmin;
  margin: 10vmin 0 0 20vmin;
}

#leftPupil, #rightPupil{
  position: absolute;
  bottom: 1vmin;
  left: 50%;
  transform: translateX(-30%);
  width: 5vmin;
  height: 10vmin;
  background-color: #000000;
  border-radius: 5vmin;
}

#leftEyeSpark, #rightEyeSpark{
  width: 2vmin;
  height: 2vmin;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0.4vmin;
}

#bigMonsterMouth{
  position: absolute;
  top: 30vmin;
  left: 35%;
  width: 12vmin;
  height: 5vmin;
  background-color: #ff1a75;
  border-radius: 0 0 5vmin 5vmin;
  animation: 3s 3s shockedStart, 1s 6s shockedEnd;
  animation-iteration-count: 1;
}

@keyframes shockedStart{
  0%{
    width: 12vmin;
    height: 5vmin;
    border-radius: 0 0 5vmin 5vmin;
  }
  100%{
    width: 5vmin;
    height: 5vmin;
    border-radius: 100%;
  }
}

@keyframes shockedEnd{
  0%{
    width: 5vmin;
    height: 5vmin;
    border-radius: 100%;
  }
  100%{
    width: 12vmin;
    height: 5vmin;
    border-radius: 0 0 5vmin 5vmin;
  }
}

#bigMonsterBody{
  position: absolute;
  width: 30vmax;
  height: 12vmax;
  background-color: #b30086;
  bottom: -5vmin;
  left: 0;
  border-radius: 0 20vmin 0 0;
  animation: 3s infinite hoverBigMonsterBody, 10s 3s 1 moveShoulder;
}

@keyframes hoverBigMonsterBody{
  0%{
    bottom: -5vmin;
  }
  50%{
    bottom: -4vmin;
  }
  100%{
    bottom: -5vmin;
  }
}

@keyframes moveShoulder{
  0%, 100%{
    border-radius: 0 20vmin 0 0;
  }
  50%{
    border-radius: 0 20vmin 15vmin 0;
  }
}

#bigMonsterBodyReflection{
  position: absolute;
  width: 31vmax;
  height: 12.5vmax;
  background-color: #cccccc;
  bottom: -10vmin;
  left: -1vmin;
  border-radius: 0 20vmin 0 0;
  animation: 3s infinite hoverBigMonsterBodyReflection, 10s 3s 1 moveShoulder1;
}

@keyframes hoverBigMonsterBodyReflection{
  0%{
    bottom: -5vmin;
  }
  50%{
    bottom: -4vmin;
  }
  100%{
    bottom: -5vmin;
  }
}

@keyframes moveShoulder1{
  0%, 100%{
    border-radius: 0 20vmin 0 0;
  }
  50%{
    border-radius: 0 20vmin 15vmin 0;
  }
}

#globOne{
  position: absolute;
  width: 30vmin;
  height: 30vmin;
  right: 7vmax;
  top: 10vmin;
  opacity: 0.1;
  transform: rotate(120deg);
  animation: 3.5s pulseGlobOne;
  animation-iteration-count: infinite;
}

#globTwo{
  position: absolute;
  width: 60vmin;
  height: 60vmin;
  right: 2vmax;
  top: 1vmin;
  opacity: 0.1;
  transform: rotate(80deg);
  animation: 4s pulseGlobTwo;
  animation-iteration-count: infinite;
}

#globThree{
  position: absolute;
  width: 90vmin;
  height: 90vmin;
  right: -20vmax;
  top: -10vmin;
  opacity: 0.1;
  transform: rotate(30deg);
  animation: 4.5s pulseGlobThree;
  animation-iteration-count: infinite;
}

#globFour{  /* BUG: Causing scrollbar to move*/
  position: absolute;
  width: 100vmin;
  height: 100vmin;
  right: -20vmax;
  top: -10vmin;
  opacity: 0.1;
  transform: rotate(50deg);
  animation: 5s pulseGlobFour;
  animation-iteration-count: infinite;
}

@keyframes pulseGlobOne{
  0%, 100%{
    width: 30vmin;
    height: 30vmin;
  }
  50%{
    width: 31vmin;
    height: 31vmin;
  }
}

@keyframes pulseGlobTwo{
  0%, 100%{
    width: 60vmin;
    height: 60vmin;
  }
  50%{
    width: 62vmin;
    height: 62vmin;
  }
}

@keyframes pulseGlobThree{
  0%, 100%{
    width: 90vmin;
    height: 90vmin;
  }
  50%{
    width: 92vmin;
    height: 92vmin;
  }
}

@keyframes pulseGlobFour{
  0%, 100%{
    width: 100vmin;
    height: 100vmin;
  }
  50%{
    width: 101vmin;
    height: 101vmin;
  }
}

#octopusHead{
  position: absolute;
  right: 5vmin;
  top: 2vmin;
  width: 21vmin;
  height: 20vmin;
  background-color: aqua;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.hoverOctopusHead{
  animation: 1s infinite hoverOctopusHead;
}

@keyframes hoverOctopusHead{
  0%, 100%{
    top: 2vmin;
  }
  50%{
    top: 3vmin;
  }
}

.octopusHeadSlurp{ /*className 'octopusHeadSlurp' for slurp animation */
  animation: 1.2s 2s linear 1 headSlurp;
}

@keyframes headSlurp{
  0%, 100%{
    right: 5vmin;
    top: 2vmin;
  }
  25%{
    right: 20vmin;
    top: 13vmin;
  }
  40%{
    right: 25vmin;
    top: 15vmin;
  }
  65%{
    right: 15vmin;
    top: 5vmin;
  }
  85%{
    right: 8vmin;
    top: 3vmin;
  }
}

#octopusEye{
  width: 15vmin;
  height: 15vmin;
  margin: 1vmin 2vmin 0 0;
  background-color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#octopusPupil{
  width: 10vmin;
  height: 10vmin;
  margin: 1vmin 2vmin 0 0;
  background-color: #00cca3;
  border-radius: 100%;
  animation: 3s infinite octopusPupilDilation;
}

@keyframes octopusPupilDilation{
  0%, 100%{
    width: 10vmin;
    height: 10vmin;
  }
  50%{
    width: 11vmin;
    height: 11vmin;
  }
  80%{
    width: 9vmin;
    height: 9vmin;
    margin: 2vmin 2vmin 0 0;
  }
}

#octopusMouth{
  position: absolute;
  top: 21vmin;
  right: 10vmin;
  width: 5vmin;
  height: 3vmin;
  transform: rotate(-20deg);
  background-color: #ff1a75;
  border-radius: 0 0 5vmin 5vmin;
  z-index: 1;
}

.hoverOctopusMouth{
  animation: 1s infinite hoverOctopusMouth;
}

@keyframes hoverOctopusMouth{
  0%, 100%{
    top: 21vmin;
  }
  50%{
    top: 22vmin;
  }
}

.octopusMouthSlurp{
  animation: 1.2s 2s linear 1 mouthSlurp;
}

@keyframes mouthSlurp{
  0%, 100%{
    right: 10vmin;
    top: 21vmin;
  }
  25%{
    right: 25vmin;
    top: 32vmin;
  }
  40%{
    right: 30vmin;
    top: 34vmin;
  }
  65%{
    right: 20vmin;
    top: 24vmin;
  }
  85%{
    right: 13vmin;
    top: 22vmin;
  }
}

#octopusBody{
  position: absolute;
  right: 5vmin;
  top: 12vmin;
  width: 21vmin;
  height: 12vmin;
  background-color: aqua;
  z-index: 0;
}

.hoverOctopusBody{
  animation: 3s infinite hoverOctopusBody;
}

@keyframes hoverOctopusBody{
  0%, 100%{
    top: 12vmin;
  }
  50%{
    top: 13vmin;
  }
}

.octopusBodySlurp{ /*className 'octopusBodySlurp' for slurp animation */
  animation: 1.2s 2s linear 1 bodySlurp;
}

@keyframes bodySlurp{
  0%, 100%{
    right: 5vmin;
    top: 12vmin;
  }
  25%{
    right: 20vmin;
    top: 23vmin;
  }
  40%{
    right: 25vmin;
    top: 25vmin;
  }
  65%{
    right: 15vmin;
    top: 15vmin;
  }
  85%{
    right: 8vmin;
    top: 13vmin;
  }
}

#octopusLeg1{
  position: absolute;
  right: 5vmin;
  top: 19vmin;
  width: 7vmin;
  height: 15vmin;
  background-color: aqua;
  border-radius: 5vmin;
  z-index: 0;
}

.hoverOctopusLeg1{
  animation: 1.2s infinite hoverOctopusLeg1;
}

@keyframes hoverOctopusLeg1{
  0%, 100%{
    height: 15vmin;
    top: 19vmin;
  }
  50%{
    height: 17vmin;
    top: 20vmin;
  }
}

.octopusLeg1Slurp{ /*className 'octopusBodySlurp' for slurp animation */
  animation: 1.2s 2s linear 1 leg1Slurp;
}

@keyframes leg1Slurp{
  0%, 100%{
    right: 5vmin;
    top: 19vmin;
  }
  25%{
    right: 20vmin;
    top: 30vmin;
  }
  40%{
    right: 25vmin;
    top: 32vmin;
  }
  65%{
    right: 15vmin;
    top: 22vmin;
  }
  85%{
    right: 8vmin;
    top: 20vmin;
  }
}

#octopusLeg2{
  position: absolute;
  right: 12vmin;
  top: 19vmin;
  width: 7vmin;
  height: 15vmin;
  background-color: aqua;
  border-radius: 5vmin;
  z-index: 0;
}

.hoverOctopusLeg2{
  animation: 1.6s infinite hoverOctopusLeg2;
}

@keyframes hoverOctopusLeg2{
  0%, 100%{
    height: 15vmin;
    top: 19vmin;
  }
  50%{
    height: 17vmin;
    top: 20vmin;
  }
}

.octopusLeg2Slurp{ /*className 'octopusBodySlurp' for slurp animation */
  animation: 1.2s 2s linear 1 leg2Slurp;
}

@keyframes leg2Slurp{
  0%, 100%{
    right: 12vmin;
    top: 19vmin;
  }
  25%{
    right: 27vmin;
    top: 30vmin;
  }
  40%{
    right: 32vmin;
    top: 32vmin;
  }
  65%{
    right: 22vmin;
    top: 22vmin;
  }
  85%{
    right: 15vmin;
    top: 20vmin;
  }
}

#octopusLeg3{
  position: absolute;
  right: 19vmin;
  top: 19vmin;
  width: 7vmin;
  height: 15vmin;
  background-color: aqua;
  border-radius: 5vmin;
  z-index: 0;
}

.hoverOctopusLeg3{
  animation: 1.4s infinite hoverOctopusLeg3;
}

@keyframes hoverOctopusLeg3{
  0%, 100%{
    height: 15vmin;
    top: 19vmin;
  }
  50%{
    height: 17vmin;
    top: 20vmin;
  }
}

.octopusLeg3Slurp{ /*className 'octopusBodySlurp' for slurp animation */
  animation: 1.2s 2s linear 1 leg3Slurp;
}

@keyframes leg3Slurp{
  0%, 100%{
    right: 19vmin;
    top: 19vmin;
  }
  25%{
    right: 34vmin;
    top: 30vmin;
  }
  40%{
    right: 39vmin;
    top: 32vmin;
  }
  65%{
    right: 29vmin;
    top: 22vmin;
  }
  85%{
    right: 22vmin;
    top: 20vmin;
  }
}

